.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr;
    
}

.headerP{
    
    background-color: hsl(60, 48%, 95%);
    
    
}
.menu-inicio{
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 50px; 
    padding-right: 5%;

}


.img{
    height: auto;
    display: flex;
    
    
}

.imagen{
    width: 30%;
    height: auto;
    padding-left: 8%;
    
}





.hre{
    color: #141313;  
    
}


.hre:hover {
    background: rgb(250, 235, 22);
  }
  
.hre:active {
    background: rgb(250, 235, 22);
    color: white;
  }


/*/
.nav{
    background-color: aliceblue;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    gap: 30px;
}
*/

.container-nav{
    background-color: rgb(250, 235, 22);
    
    
}
#item{
    color: rgb(235, 33, 33);
    
    
}  
  a:hover {
    background: rgb(241, 239, 234);
  }
  
  a:active {
    background: rgb(224, 142, 19);
    color: white;
  }



.section_princi{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*repeat(3, 1fr)*/
    padding: 1em;
    font-size: 1.2rem;   
}

.img-section{

    
    
    
   
}

#map{
    width: 100%;
    height: 300px;
}

.footer{
    background-color:  hsl(60, 48%, 95%);
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 1%;
}
