.container{
    font-family: 'Belanosima', sans-serif;
    font-size: 120%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr;
    
}
.headerP{
    
    background-color: hsl(60, 48%, 95%);    
    
}
.menu-inicio{
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 50px; 
    padding-right: 5%;

}
.contain_img{
    height: auto;
    display: flex;    
    
}
.imagen{
    width: 30%;
    height: auto;
    padding-left: 8%;
    
}
.hre{
    color: rgb(8, 8, 8);          
}

.hre:hover {
    text-decoration: none;
    color: #868282;
    box-shadow: 5px;
    background-position: right;
    
}
.container-nav{
    background-color: #EFD61B;
    width: 100%;
}
#item{
    color: rgb(235, 33, 33);
}  
#item:hover{
    color: hsl(24, 92%, 48%);
    box-shadow: 5px;
}
#item:active {
    background: rgb(209, 203, 112);
    color: white;
}
.section_princi{
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*repeat(3, 1fr)*/
    grid-template-rows: auto;
    padding: 1em 0em 0.1em 0em;
    float: center; 
}
.img_section{
    width: 100%;
    height: 100%;    
}
#map{
    width: 100%;
    height: 300px;    
}
.footer{
    background-color:  hsl(60, 48%, 95%);
    /*background-color:#F6E9BF;*/
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 1%;
}

