.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr;
}

.headerP{
    
    background-color: hsl(60, 48%, 95%);
    
    
}
.menu-inicio{
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 50px; 
    padding-right: 5%;

}


.img{
    height: auto;
    display: flex;
    
    
}

.imagen{
    width: 30%;
    height: auto;
    padding-left: 8%;
    
}

.imagen1{
    width: 80%;
    height: auto;
       
}




.hre{
    color: #141313;    
    
}


.hre:hover {
    background: rgb(250, 235, 22);
  }
  
.hre:active {
    background: rgb(250, 235, 22);
    color: white;
  }


/*/
.nav{
    background-color: aliceblue;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    gap: 30px;
}
*/

.container-nav{
    background-color: rgb(250, 235, 22);
    
}
#item{
    color: rgb(235, 33, 33);
    
    
}  
  a:hover {
    background: rgb(241, 239, 234);
  }
  
  a:active {
    background: rgb(224, 142, 19);
    color: white;
  }



.section_princi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*repeat(3, 1fr)*/
    
}

.img-section{
    width: 400px;
    height: 300px;
    
   

}

#map{
    width: 100%;
    height: 300px;
}

.footer{
    background-color:  hsl(60, 48%, 95%);
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 1%;
    
   
}
















/* 

body{
   background-color: rgb(241, 237, 245); 
   color: rgb(15, 15, 15);
   font-family: 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}


header{
    background-color: rgb(250, 249, 243);
    padding: 10px;
    display: flex;
    flex-direction: row;   
        
}
header a{
    color: rgb(19, 20, 20);
    padding: 3px 20px;
    text-decoration: none;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
  }

nav{
    background-color: rgb(240, 181, 19);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

nav a{
    color: rgb(3, 3, 3);
    padding: 10px 20px;
    text-decoration:none;
    width: 100%;
    flex-direction: row;
}

.imagen{
    display: flex;
    padding: 10px;
    width: 80px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

section{
    background-color: rgb(192, 212, 212);
    flex: 40%;
    padding: 10px;
}

article{
    background-color: rgb(182, 202, 202);
    flex:30%;
    padding: 10px;
}
aside{
    background-color: rgb(171, 184, 184);
    flex:30%;
    padding: 10px;
}

.ubicacion{
    background-color: rgb(208, 191, 224);
    
}

footer{
    background-color: rgb(149, 149, 153);
    text-align: center;
    padding: 5px;;
}
 */
